<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SyntaxColoring:Color:Comments</key>
	<array>
		<real>0.5</real>
		<real>0.5</real>
		<real>0.5</real>
	</array>
	<key>SyntaxColoring:Color:Comments2</key>
	<array>
		<real>0.5</real>
		<real>0.5</real>
		<real>0.5</real>
	</array>
	<key>SyntaxColoring:Color:Identifiers</key>
	<array>
		<integer>1</integer>
		<real>0.5</real>
		<real>0.2</real>
	</array>
	<key>SyntaxColoring:Color:Identifiers2</key>
	<array>
		<real>0.1</real>
		<real>0.57</real>
		<real>0.49</real>
	</array>
	<key>SyntaxColoring:Color:Identifiers3</key>
	<array>
		<real>0.84</real>
		<real>0.26</real>
		<real>0.61</real>
	</array>
	<key>SyntaxColoring:Color:Strings</key>
	<array>
		<integer>1</integer>
		<real>0.1</real>
		<real>0.1</real>
	</array>
	<key>SyntaxColoring:Color:UserIdentifiers</key>
	<array>
		<real>0.7</real>
		<integer>0</integer>
		<real>0.36</real>
	</array>
	<key>SyntaxColoring:Color:Background</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>SyntaxColoring:Color:Constants</key>
	<array>
		<real>0.12</real>
		<real>0.45</real>
		<real>0.7</real>
	</array>
	<key>SyntaxColoring:Color:GLConstants</key>
	<array>
		<real>0.46</real>
		<real>0.39</real>
		<real>0.21</real>
	</array>
</dict>
</plist>
